1. Crea una lista con 5 nombres y muéstrala usando print().

In [ ]:
nombres = ['Jairo', 'Álvaro', 'Borja', 'Manu', 'Ángel']
print(nombres)

2. Ahora crea otra lista con 5 nombres introducidos por el usuario.
Nota: Usa input() dentro de la lista.

In [ ]:
nombres = [input('Introduce el primer nombre: '), input('Introduce el segundo nombre: '), input('Introduce el tercer nombre: ')]
print('Lista de nombres: ', nombres)

Lista de nombres:  ['Jairo', 'López', 'Borja']

3. Concatena dos listas de números introducidos por el usuario y muestra la
lista resultante.

In [5]:
numeros1 = [float(input('Introduce el primer número: ')), float(input('Introduce el segundo número: ')), float(input('Introduce el tercer número: '))]
numeros2 = [float(input('Introduce el primer número: ')), float(input('Introduce el segundo número: ')), float(input('Introduce el tercer número: '))]
listaT = numeros1 + numeros2
print(listaT)

[1.0, 4.0, 6.0, 4.0, 3.0, 6.0]

4. Usa .append() y .insert() para agregar elementos a una lista vacía.

In [17]:
lista = []
lista.insert(1, 14)
lista.insert(0, 10)
lista.append(12)
print(lista)

[10, 14, 12]

5. Usa .pop() y .remove() para eliminar elementos de una lista dada.
lista = [“a”, “b”, “c”, “d”]

In [ ]:
lista = ['a', 'b', 'c', 'd']
lista.pop(0) # pop se usa con el indice
lista.remove('b') # Remove se utiliza con el elemento que quieres sacar
print(lista)

['c', 'd']

6. Crea una lista de palabras y usa .sort() y .reverse() para ordenarla
alfabéticamente y luego invertirla.

In [33]:
nombres = ['Jairo', 'Álvaro', 'Borja', 'Manu', 'Ángel']
nombres.sort()
print(nombres)
nombres.reverse()
print(nombres)

['Borja', 'Jairo', 'Manu', 'Álvaro', 'Ángel']
['Ángel', 'Álvaro', 'Manu', 'Jairo', 'Borja']

6. Crea una tupla con 4 elementos numéricos y muestra:
- Su longitud
- El primer y último elemento

In [ ]:
tupla = (1, 2, 3, 4)
print(len(tupla))
print(tupla[0],tupla[-1])

4
1 4

7. Convierte una lista en tupla y una tupla en lista usando list() y tuple()

In [40]:
tupla = (1, 2, 3)
lista = [1, 2, 3]
print(list(tupla))
print(tuple(lista))

[1, 2, 3]
(1, 2, 3)

8. Crea una tupla con datos personales (nombre, edad, ciudad) y muéstrala
con un f-string.

In [ ]:
tupla = ('Jairo', 17, 'Majadahonda')
print(f'Me llamo {tupla[0]}, tengo {tupla[1]} años y vivo en {tupla[2]}')

Me llamo Jairo, tengo 17 y vivo en Majadahonda

9. Crea dos sets con elementos introducidos por el usuario y muestra:
- Unión (|)
- Intersección (&)
- Diferencia (-)

In [42]:
set1 = {input('Pon una palabara: '), input('Pon otra palabra: ')}
set2 = {input('Pon una palabara: '), input('Pon otra palabra: ')}
print(set1)
print(set2)
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)

{'adios', 'hola'}
{'hola', 'chao'}
{'adios', 'hola', 'chao'}
{'hola'}
{'adios'}

10. Muestra cómo un set elimina duplicados al convertir una lista con
elementos repetidos.

In [6]:
lista = [1, 1, 2, 3, 5]
print(set(lista))

{1, 2, 3, 5}

11. Usa .add() y .discard() para modificar un set.

In [50]:
set1 = {0, 1, 2, 3, 4}
set1.add(6)
set1.discard(1)
print(set1)

{0, 2, 3, 4, 6}

12. Crea un diccionario con claves 'nombre', 'edad', 'ciudad' y valores
introducidos por el usuario.

In [1]:
dict = {
    'nombre': input('Introduce tu nombre: ') ,
    'edad': input('Introduce tu edad: '),
    'ciudad': input('Introduce tu ciudad: ')
}
print(dict)

{'nombre': 'Jairoç', 'edad': '18', 'ciudad': 'Majadahonda'}

13. Usa .keys(), .values() y .items() para mostrar las partes del diccionario.

In [5]:
dict = {
    'nombre': 'Jairo',
    'edad': 17,
    'ciudad': 'Majadahonda'
}
print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys(['nombre', 'edad', 'ciudad'])
dict_values(['Jairo', 17, 'Majadahonda'])
dict_items([('nombre', 'Jairo'), ('edad', 17), ('ciudad', 'Majadahonda')])

14. Agrega una nueva clave 'profesión' al diccionario y muestra el resultado.

In [7]:
dict = {
    'nombre': 'Jairo',
    'edad': 17,
    'ciudad': 'Majadahonda'
}
dict['Profesión'] = 'Profesor'
print(dict)

{'nombre': 'Jairo', 'edad': 17, 'ciudad': 'Majadahonda', 'Profesión': 'Profesor'}

15. Modifica el valor de una clave existente ('edad') usando asignación directa.

In [8]:
dict = {
    'nombre': 'Jairo',
    'edad': 17,
    'ciudad': 'Majadahonda'
}
dict['edad'] = 20
print(dict)

{'nombre': 'Jairo', 'edad': 20, 'ciudad': 'Majadahonda'}

16. Elimina una clave del diccionario usando .pop().

In [9]:
dict = {
    'nombre': 'Jairo',
    'edad': 17,
    'ciudad': 'Majadahonda'
}
dict.pop('edad')
print(dict)

{'nombre': 'Jairo', 'ciudad': 'Majadahonda'}

17. Crea una lista de diccionarios, cada uno representando un estudiante con
'nombre' y 'nota'.

In [11]:
alumno1 = {
    'nombre': 'Jairo',
    'nota': 7
}
alumno2 = {
    'nombre': 'Borja',
    'nota': 6
}
alumno3 = {
    'nombre': 'López',
    'nota': 8
}
lista_alumnos = [alumno1, alumno2, alumno3]
print(lista_alumnos)

[{'nombre': 'Jairo', 'nota': 7}, {'nombre': 'Borja', 'nota': 6}, {'nombre': 'López', 'nota': 8}]

18. Crea un diccionario donde las claves sean nombres de materias y los
valores sean sets de alumnos inscritos.

In [12]:
dict = {
    'Álgebra lineal': {'Jairo', 'Jorge', 'Jose'},
    'Analisis': {'Jairo', 'López', 'Borja'}
}
print(dict)

{'Álgebra lineal': {'Jose', 'Jorge', 'Jairo'}, 'Analisis': {'Jairo', 'Borja', 'López'}}

19. Crea una tupla que contenga una lista y un set como elementos. Mostrar
cómo acceder a cada uno

In [ ]:
set1 = {1, 2, 3, 4}
lista = [1, 2, 3, 4]
tupla = (set1, lista)
print(tupla)

({1, 2, 3, 4}, [1, 2, 3, 4])

20. Pide al usuario que introduzca una frase. Convierte la frase en una lista de
palabras usando .split(), elimina las repetidas usando un set, y luego
ordena alfabéticamente la lista resultante.
- Entrada: "hola mundo hola python mundo"
- Salida: ['hola', 'mundo', 'python']

In [ ]:
frase = input("Introduce una frase: ").split()
palabras = frase.split()
palabras_unicas = list(set(palabras))
palabras_unicas.sort()
print(palabras_unicas)

TypeError: 'set' object is not callable